# Directories
/Corelation/
/MachineLearning/
/prediction/
/corrected crs/

# # PDF files
# *.pdf

# QGIS project files
*.qgz

# Avoid potential typos in directory names
/MachhineLearning/

# Specific files in Corelation directory that shouldn't be tracked
/Corelation/new/

# Temporary files
*.aux.xml
