/Corelation/new
./Corelation/*
./MachineLearning/*
./Corelation
./MachhineLearning
./correcte*
./prediction/*
./prediction
./BTP-1.pdf
./Smart-Grid_Project.pdf
./electronics-09-01030.pdf
./hyderabad LULC tile0.qgz
./presentation.pdf
